Q1. List any five functions of the pandas library with execution.

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

Q5. How are DataFrame.size() and DataFrame.shape() different?

Q6. Which function of pandas do we use to read an excel file?

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:
  A B C
0 3 5 1
1 8 2 7
2 6 9 4
3 2 3 5
4 9 1 2
Your function should select the following rows: A B C
1 8 2 7
4 9 1 2
The function should return a new DataFrame that contains only the selected rows.


Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.


Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.


Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [15]:
##1)
#five functions:
import pandas as pd
#this function read the csv file.
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

#1) read first 5 records 
print(df.head())

#2) read last 5 records
print(df.tail())

#3) check the column data types
print(df.dtypes)

#4) describe -- numerical analysis based numeric types
print(df.describe())

#5) check the column names in file.
print(df.columns)




##2)

data ={
    "A":[10,20,30],
    "B":[40,50,60],
    "C":[70,80,90]}
df = pd.DataFrame(data)
#reindex which start with 1 and increment by 2
df.index=pd.RangeIndex(1,len(df)*2,2)
print(df)




##3)
data={
    "Values":[10,20,30,40,50]}
df = pd.DataFrame(data)
print(sum(df["Values"][:3]))



##4)
data={
    "Text":["sample text","yet another example","set the example"]}
df = pd.DataFrame(data)
df["Word_Count"]=df["Text"].apply(lambda x:len(str(x).split()))
print(df)




##5)
""" DataFrame.size(): multiply number of elements rows and columns.
    DataFrame.shape(): number of rows and columns.
    
"""
size=df.size
print(size)
shape=df.shape
print(shape)




##6)
#read_excel function to read excel file
df = pd.read_excel("Copy of LUSID Excel - Setting up your market data.xlsx")
print(df)




##7)
data = {
    "Email":["rukz@domain.com","anjum@domain.com","raja@domain.com"]}
df=pd.DataFrame(data)
df["Username"]=df["Email"].apply(lambda x:str(x).replace("@domain.com"," "))
print(df)




##8)
data = {
    "A":[3,8,6,2,9],
    "B":[5,2,9,3,1],
    "C":[1,7,4,5,2]}
df = pd.DataFrame(data)
print(df[(df["A"]>5) & (df["B"]<10)])



##9)

data={
    "Values":[10,20,30,40,50]}
df = pd.DataFrame(data)
print(df["Values"].mean())
print(df["Values"].median())
print(df["Values"].std())




##10)
data={
    "Sales":[100,120,110,90,95,105,115,130,125,110],
    "Date":pd.date_range(start='2023-01-01',periods=10)}
df=pd.DataFrame(data)
df["MovingAverage"]=df["Sales"].rolling(window=7,min_periods=1).mean()
print(df)




##11)
data={
    "Date":pd.date_range(start="2023-01-01",periods=5)
}
df=pd.DataFrame(data)
df["Weekday"]=df["Date"].dt.day_name()
print(df)



##12)
data={
    "Date":pd.date_range(start='2023-01-01',end='2023-01-31')
}
df=pd.DataFrame(data)
select_df=df[(df["Date"]>='2023-01-01') & (df["Date"]<='2023-01-31') ]
print(select_df)



##13)
"""the basic functions of pandas the first and foremost necessary library that needs to
be imported is pandas only
  import pandas as pd --- pd is alias refer to pandas function and classes
"""

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
     PassengerId  Survived  Pclass                                      Name  \
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch      Ticket   Fare Cabin Embarked
886    male  27.0      0      0      211536  13.00   NaN        S
887  female  19.0      0      0      112053  30.00   B42        S
888  female   NaN      1      2  W./C. 6607  23.45   NaN        S
889    male  26.0      0      0      111369  30.00  C148        C
890    male  32.0      0      0      370376   7.75   NaN        Q
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90
60
                  Text  Word_Count
0          sample text           2
1  yet another example           3
2      set the example           3
6
(3, 2)
    Unnamed: 0  Unnamed: 1  Unnamed: 2  \
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
5          NaN         NaN         NaN
6          NaN         NaN         NaN
7          NaN         NaN         NaN
8          NaN         NaN         NaN
9          NaN         NaN         NaN
10         NaN         NaN         NaN
11         NaN         NaN         NaN
12         NaN         NaN         NaN
13         NaN         NaN         NaN
14         NaN         NaN         NaN
15         NaN         NaN         NaN
16         NaN         NaN         NaN
17         NaN         NaN         NaN
18         NaN         NaN         NaN
19         NaN         NaN         NaN
20         NaN         NaN         NaN
21         NaN         NaN         NaN
22         NaN         NaN         NaN
23         NaN         NaN         NaN
24         NaN         NaN         NaN
25         NaN         NaN         NaN
26         NaN         NaN         NaN
27         NaN         NaN         NaN

                                           Unnamed: 3  \
0                                                 NaN
1                                  Datetimes in LUSID
2                                                 NaN
3    This sheet allows you to format datetimes for...
4         If you have any questions please visit our:
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15                                                NaN
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

                                           Unnamed: 4  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                           Getting Started tutorials
6                             Knowledge Base articles
7                                       or Contact us
8                                                 NaN
9                                                 NaN
10                                                NaN
11  LUSID accepts datetimes in any recognised Exce...
12                                                NaN
13                     Excel formats to show datetime
14                                                NaN
15                          Enter the date to convert
16                                                NaN
17                    This date has no time component
18                                                NaN
19                             Specify time component
20                                                NaN
21  Add to your date and display the complete date...
22                                                NaN
23   Although the date can still appears without time
24                                                NaN
25                       Add an hour to your datetime
26                                                NaN
27               Subtract a minute from your datetime

                    Unnamed: 5  Unnamed: 6  \
0                          NaN         NaN
1                          NaN         NaN
2                          NaN         NaN
3                          NaN         NaN
4                          NaN         NaN
5                          NaN         NaN
6                          NaN         NaN
7                          NaN         NaN
8                          NaN         NaN
9                          NaN         NaN
10                         NaN         NaN
11                         NaN         NaN
12                         NaN         NaN
13                         NaN         NaN
14                         NaN         NaN
15         2019-04-10 00:00:00         NaN
16                         NaN         NaN
17         2019-04-10 00:00:00         NaN
18                         NaN         NaN
19             13:30:45.550000         NaN
20                         NaN         NaN
21  2019-04-10 13:30:45.550000         NaN
22                         NaN         NaN
23  2019-04-10 13:30:45.550000         NaN
24                         NaN         NaN
25  2019-04-10 14:30:45.550000         NaN
26                         NaN         NaN
27  2019-04-10 14:29:45.550000         NaN

                                           Unnamed: 7  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11  LUSID also accepts UTC, UTS offsets and cutlabels
12                                                NaN
13                                 Additional formats
14                                                NaN
15                            Standard UTC timestamp:
16                                                NaN
17                         Convert date into a string
18                                                NaN
19       UTC offset (not recognised as an excel date)
20                                                NaN
21                                           Cutlabel
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN

                   Unnamed: 8  \
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
5                         NaN
6                         NaN
7                         NaN
8                         NaN
9                         NaN
10                        NaN
11                        NaN
12                        NaN
13                        NaN
14                        NaN
15  "YYYY-MM-DDTHH:MM:SS.00Z"
16                        NaN
17   2019-04-10T 13:30:45.55Z
18                        NaN
19  2019-04-10T13:30:45+04:00
20                        NaN
21  2019-04-10NSingaporeClose
22                        NaN
23                        NaN
24                        NaN
25                        NaN
26                        NaN
27                        NaN

                                           Unnamed: 9
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
5                                                 NaN
6                                                 NaN
7                                                 NaN
8                                                 NaN
9                                                 NaN
10                                                NaN
11                                                NaN
12                                                NaN
13                                                NaN
14                                                NaN
15  Where Z indicates Zulu time (UTC+0), and is eq...
16                                                NaN
17                                                NaN
18                                                NaN
19                                                NaN
20                                                NaN
21                                                NaN
22                                                NaN
23                                                NaN
24                                                NaN
25                                                NaN
26                                                NaN
27                                                NaN
              Email Username
0   rukz@domain.com    rukz
1  anjum@domain.com   anjum
2   raja@domain.com    raja
   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2
30.0
30.0
15.811388300841896
   Sales       Date  MovingAverage
0    100 2023-01-01     100.000000
1    120 2023-01-02     110.000000
2    110 2023-01-03     110.000000
3     90 2023-01-04     105.000000
4     95 2023-01-05     103.000000
5    105 2023-01-06     103.333333
6    115 2023-01-07     105.000000
7    130 2023-01-08     109.285714
8    125 2023-01-09     110.000000
9    110 2023-01-10     110.000000
        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday
         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05
5  2023-01-06
6  2023-01-07
7  2023-01-08
8  2023-01-09
9  2023-01-10
10 2023-01-11
11 2023-01-12
12 2023-01-13
13 2023-01-14
14 2023-01-15
15 2023-01-16
16 2023-01-17
17 2023-01-18
18 2023-01-19
19 2023-01-20
20 2023-01-21
21 2023-01-22
22 2023-01-23
23 2023-01-24
24 2023-01-25
25 2023-01-26
26 2023-01-27
27 2023-01-28
28 2023-01-29
29 2023-01-30
30 2023-01-31